<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.incquerylabs.iot.leapmotion.sandbox/src/com/incquerylabs/iot/leapmotion/sandbox/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.incquerylabs.iot.leapmotion.sandbox.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.incquerylabs.iot.leapmotion.sandbox"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=/opt/leapmotion/LeapSDK/lib/x64"/>
</launchConfiguration>
