/.ALL_BENT_Pattern.java._trace
/.ALL_EXTENDED_Pattern.java._trace
/.EXTENDED_FINGER_Pattern.java._trace
/.GRAB_STRENGTH_HIGH_Pattern.java._trace
/.CIRCLE_GESTURE_Pattern.java._trace
/.ROLL_Pattern.java._trace
/.CG_Pattern.java._trace
/.CLOCKWISE_Pattern.java._trace
/.NCLOCKWISE_Pattern.java._trace
/.TAP_Pattern.java._trace
/.CLOCKWISEROLL_Pattern.java._trace
/.NCLOCKWISEROLL_Pattern.java._trace
/.SPEED_UP_Pattern.java._trace
/.SLOW_DOWN_Pattern.java._trace
/.SLOW_DOWN_LEFT_Pattern.java._trace
/.SLOW_DOWN_RIGHT_Pattern.java._trace
/.SPEED_UP_LEFT_Pattern.java._trace
/.SPEED_UP_RIGHT_Pattern.java._trace
/.ALL_EXTENDED_LEFT_Pattern.java._trace
/.ALL_EXTENDED_RIGHT_Pattern.java._trace
/.ALL_BENT_LEFT_Pattern.java._trace
/.ALL_BENT_RIGHT_Pattern.java._trace
