/.ALL_BENT_Pattern.java._trace
/.ALL_EXTENDED_Pattern.java._trace
/.EXTENDED_FINGER_Pattern.java._trace
/.GRAB_STRENGTH_HIGH_Pattern.java._trace
/.CIRCLE_GESTURE_Pattern.java._trace
/.ROLL_Pattern.java._trace
/.CG_Pattern.java._trace
/.CLOCKWISE_Pattern.java._trace
/.NCLOCKWISE_Pattern.java._trace
