<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.iot.leapmotion.proto2emf.queries.Leapqueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.iot.leapmotion.proto2emf.queries.Leapqueries" id="com.incquerylabs.iot.leapmotion.proto2emf.queries.Leapqueries">
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.allExtended"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.allBent"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.circleGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.leftSpeedUp"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.leftSlowDown"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.rightSpeedUp"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.rightSlowDown"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.rightHandGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.leftHandGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.clockwiseCircleGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.nonClockwiseCircleGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.tapGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.continuousGesture"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.pointableNormal"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.clockwiseRoll"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.grabStrengthHigh"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.grabStrength"/>
      <query-specification fqn="com.incquerylabs.iot.leapmotion.proto2emf.queries.extendedFinger"/>
    </group>
  </extension>
</plugin>
