<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.incquerylabs.iot.target" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jubula.feature.launch.rcp.feature.group" version="4.0.0.201605250813"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.8.0.v201605262035"/>
<unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.2.0.201605311222"/>
<unit id="org.eclipse.dltk.mylyn.feature.group" version="5.5.0.201605241149"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.10.0.201606071900"/>
<unit id="org.eclipse.sirius.samples.feature.group" version="4.0.0.201605311157"/>
<unit id="org.eclipse.libra.warproducts.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
<unit id="org.eclipse.gef4.cloudio.doc.user.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.gef4.geometry.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.sapphire.java.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.9.0.v201605262035"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.13.0.v20160608-1043"/>
<unit id="org.eclipse.qvtd.master.feature.group" version="0.13.0.v20160607-1505"/>
<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.20.0.v20160421-1902"/>
<unit id="org.eclipse.gef4.mvc.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="4.4.0.201606070830-r"/>
<unit id="org.eclipse.rap.tools.feature.feature.group" version="3.1.0.20160608-0600"/>
<unit id="org.eclipse.emf.parsley.cdo.feature.feature.group" version="1.0.0.v20160608-1623"/>
<unit id="org.eclipse.jubula.feature.api.core.source.feature.group" version="4.0.0.201605250813"/>
<unit id="org.eclipse.modisco.sdk.feature.feature.group" version="1.0.0.201605180829"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.4.0.201604200752"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.20.0.v20160421-1902"/>
<unit id="org.eclipse.scout.sdk-feature.feature.group" version="6.0.0.RC4"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.20.0.v20160608-1838"/>
<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.5.100.v201603180253"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="2.0.0.201606080854"/>
<unit id="org.eclipse.gef4.zest.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.0.0.v20160608-1623"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.1.201601141612"/>
<unit id="org.eclipse.gef4.dot.doc.user.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.500.v201603031514"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.13.1.v20160405-1820"/>
<unit id="org.eclipse.team.svn.feature.group" version="4.0.0.I20160604-1700"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.8.0.v201605120129"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.4.0.201604200752"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.sapphire.sdk.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.egerrit.feature.feature.group" version="1.0.0.527"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.400.v201606081655"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.401.v201509231858"/>
<unit id="org.eclipse.gef4.graph.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="3.2.0.201605311222"/>
<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.203.v201503151903"/>
<unit id="org.eclipse.cvs.feature.group" version="1.4.300.v20160606-1100"/>
<unit id="org.eclipse.gef4.common.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.20.0.v20160421-1902"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.3.1.201509291144"/>
<unit id="org.eclipse.m2e.wtp.jaxrs.feature.feature.group" version="1.3.0.20160530-2310"/>
<unit id="org.eclipse.php.mylyn.feature.group" version="4.0.0.201606081033"/>
<unit id="org.eclipse.jpt.dbws.eclipselink.feature.feature.group" version="1.2.200.v201603180253"/>
<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.1.301.v201410160332"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.0.v201605261103"/>
<unit id="org.eclipse.emf.compare.diagram.papyrus.feature.group" version="3.2.0.201605311222"/>
<unit id="org.eclipse.jpt.jpadiagrameditor.feature.feature.group" version="1.2.300.v201604110621"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.13.0.v20160608-1043"/>
<unit id="org.eclipse.team.svn.resource.ignore.rules.jdt.feature.group" version="4.0.0.I20160226-1700"/>
<unit id="org.eclipse.gef4.dot.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.203.v201602092125"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.10.0.201606071631"/>
<unit id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature.feature.group" version="2.6.0.v201410101748"/>
<unit id="org.eclipse.jubula.feature.api.core.feature.group" version="4.0.0.201605250813"/>
<unit id="org.eclipse.sirius.specifier.feature.group" version="4.0.0.201605311157"/>
<unit id="org.eclipse.wst.jsdt.chromium.debug.feature.feature.group" version="0.4.0.v201606032110"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.4.0.201604200752"/>
<unit id="org.eclipse.mylyn.cvs.feature.group" version="1.12.0.v20160421-1824"/>
<unit id="org.eclipse.libra.facet.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<unit id="org.eclipse.sphinx.sdk.feature.group" version="0.10.0.201606080915"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.4.0.201604200752"/>
<unit id="org.eclipse.emf.cdo.dawn.sdk.feature.group" version="2.1.100.v20160505-0538"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.2.0.201605311222"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.3.1.201509291144"/>
<unit id="org.eclipse.mylyn.trac_feature.feature.group" version="3.20.0.v20160425-1835"/>
<unit id="org.eclipse.team.svn.nl1.feature.group" version="4.0.0.I20160226-1700"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.8.0.v201606030549"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.13.1.v20160405-1820"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.4.100.v201603180253"/>
<unit id="org.eclipse.php.feature.group" version="4.0.0.201606081033"/>
<unit id="org.eclipse.team.svn.revision.graph.feature.group" version="4.0.0.I20160226-1700"/>
<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.5.0.v201603181811"/>
<unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.mylyn.gerrit.feature.feature.group" version="2.11.0.v20160421-1821"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.3.1.201509291144"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.8.0.v201605251556"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.20.0.v20160608-1905"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.6.0.v201505180909"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.0.v201505072140"/>
<unit id="org.eclipse.php.importer.feature.group" version="4.0.0.201606081033"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.10.0.201606071631"/>
<unit id="org.eclipse.m2m.qvt.oml.tools.coverage.feature.group" version="1.2.0.v20160606-1156"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.2.0.v20160516-0939"/>
<unit id="org.eclipse.sapphire.platform.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.13.0.v20160608-1043"/>
<unit id="org.eclipse.gef4.fx.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="4.0.0.201605311157"/>
<unit id="org.eclipse.m2e.wtp.jsf.feature.feature.group" version="1.3.0.20160530-2310"/>
<unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="4.0.0.201605311157"/>
<unit id="org.eclipse.sapphire.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.ecf.core.source.feature.group" version="3.13.1.v20160405-1820"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.0.0.v201605311817"/>
<unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="1.0.0.v20160608-1623"/>
<unit id="org.eclipse.mylyn.github.feature.feature.group" version="4.4.0.201606070830-r"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="6.1.0.v20160526-1513"/>
<unit id="org.eclipse.acceleo.feature.group" version="3.6.4.201605040614"/>
<unit id="org.eclipse.egf.sdk.feature.group" version="1.4.0.v20160516-1506"/>
<unit id="org.eclipse.jubula.feature.feature.group" version="4.0.0.201605250813"/>
<unit id="org.eclipse.rcptt.platform.feature.group" version="2.1.0.201605312329"/>
<unit id="org.eclipse.amalgam.explorer.contextual.core.source.feature.group" version="1.7.0.201605311215"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.1.0.201605311155"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.302.v201504272154"/>
<unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.10.0.201606071713"/>
<unit id="org.eclipse.gmf.feature.group" version="1.10.0.201606071959"/>
<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.9.0.20160606-1526"/>
<unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.20.0.v20160425-1835"/>
<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.5.0.v20160607-1511"/>
<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.4.200.v201603180253"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.20.v201605261103"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.10.0.201606071959"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.5.0.v20160607-1511"/>
<unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.3.1.201509291144"/>
<unit id="org.eclipse.amalgam.explorer.activity.source.feature.group" version="1.7.0.201605311215"/>
<unit id="org.eclipse.sapphire.ui.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="4.4.0.201606070830-r"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.4.0.v20160526-0606"/>
<unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="4.0.0.201605311157"/>
<unit id="org.eclipse.team.svn.m2e.feature.group" version="4.0.0.I20160226-1700"/>
<unit id="org.eclipse.mylyn.hudson.feature.group" version="1.12.0.v20160524-1837"/>
<unit id="org.eclipse.libra.framework.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.1.201605251832-signed-20160525150658"/>
<unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.4.0.v20160526-0356"/>
<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.20.0.v20160421-1902"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.13.0.v20160608-1043"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.8.0.v201605120129"/>
<unit id="org.eclipse.emf.parsley.cdo.feature.source.feature.group" version="1.0.0.v20160608-1623"/>
<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.3.0.20160530-2310"/>
<unit id="org.eclipse.jubula.feature.launch.java.feature.group" version="4.0.0.201605250813"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.source.feature.feature.group" version="3.13.1.v20160405-1820"/>
<unit id="org.eclipse.mylyn.gerrit.dashboard.feature.feature.group" version="2.11.0.v20160518-1752"/>
<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.8.0.v20160606-1028"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.500.v201606081655"/>
<unit id="org.eclipse.mylyn.git.feature.group" version="1.12.0.v20160421-1824"/>
<unit id="org.eclipse.m2e.wtp.jpa.feature.feature.group" version="1.3.0.20160530-2310"/>
<unit id="org.eclipse.sirius.properties.feature.feature.group" version="4.0.0.201605311157"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.9.0.20160606-1526"/>
<unit id="org.eclipse.gef4.layout.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.egit.feature.group" version="4.4.0.201606070830-r"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.6.0.v20160606-1156"/>
<unit id="org.eclipse.sapphire.source.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.6.0.v20160523-1452"/>
<unit id="org.eclipse.libra.framework.editor.feature.feature.group" version="0.3.1.201405141436"/>
<unit id="org.eclipse.sapphire.osgi.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.team.svn.mylyn.feature.group" version="4.0.0.I20160226-1700"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="2.9.0.v20160601-1831"/>
<unit id="org.eclipse.emf.eef.codegen.ecore-feature.feature.group" version="1.5.1.201601141612"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.0.v201605261103"/>
<unit id="org.eclipse.team.svn.source.feature.group" version="4.0.0.I20160604-1700"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.2.0.v20160523-1914"/>
<unit id="org.eclipse.sapphire.java.jdt.feature.group" version="9.0.5.201605181639"/>
<unit id="org.eclipse.cdt.mylyn.feature.group" version="5.16.0.v20160421-1902"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.13.0.v20160608-1043"/>
<unit id="org.eclipse.gef4.cloudio.sdk.feature.group" version="1.0.0.201606082015"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.8.0.v201603091933"/>
<unit id="org.eclipse.emf.compare.egit.feature.group" version="1.1.0.201605311222"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.5.0.v20160607-1511"/>
<unit id="org.eclipse.emf.facet.sdk.feature.feature.group" version="1.1.0.201603181016"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.13.0.v20160608-1043"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.300.v201606081655"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
</target>
