/.GrabRule.java._trace
/.GrabStrengthRule.java._trace
/.CircleGesture.java._trace
/.RollFound.java._trace
/.CgFound.java._trace
/.CircleGestureRule.java._trace
/.ClockwiseRule.java._trace
/.NotClockwiseRule.java._trace
