/.GrabRule.java._trace
/.GrabStrengthRule.java._trace
/.CircleGesture.java._trace
/.RollFound.java._trace
/.CgFound.java._trace
/.CircleGestureRule.java._trace
/.ClockwiseRule.java._trace
/.NotClockwiseRule.java._trace
/.ClockwiseRollRule.java._trace
/.NonClockwiseRule.java._trace
/.SpeeedUp.java._trace
/.SlowDownRule.java._trace
/.SpeedUpRule.java._trace
/.TapRule.java._trace
/.SelectionRule.java._trace
/.SlowDownLeftRule.java._trace
/.SlowDownRightRule.java._trace
/.SpeedUpLeftRule.java._trace
/.SpeedUpRightRule.java._trace
/.StopLeftRule.java._trace
/.StopRightRule.java._trace
