/.ALL_BENT_Event.java._trace
/.ALL_EXTENDED_Event.java._trace
/.EXTENDED_FINGER_Event.java._trace
/.GRAB_STRENGTH_HIGH_Event.java._trace
/.CIRCLE_GESTURE_Event.java._trace
/.ROLL_Event.java._trace
/.CG_Event.java._trace
/.CLOCKWISE_Event.java._trace
/.NCLOCKWISE_Event.java._trace
